@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-motion";

/* for aurora ui */
@theme inline {
	--animate-aurora: aurora 60s linear infinite;
	@keyframes aurora {
		from {
			background-position: 50% 50%, 50% 50%;
		}
		to {
			background-position: 350% 50%, 350% 50%;
		}
	}
}

/* this custom || add tailwind css styles */
@theme {
	--font-montserrat: "Montserrat", sans-serif;
	--font-poppins: "Poppins", sans-serif;
	--font-playfair-display: "Playfair Display", serif;
	--font-lora: "Lora", serif;
}
